<div class="container mb-5">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">


                <h2>Add Gallery</h2>
                <form [formGroup]="form2" (ngSubmit)="userupload()">
                    <div class="form-group">
                        <label for="email1">Titel:</label>
                        <input type="text" class="form-control" id="email1" name="email1" formControlName="email1">
                        <span class="text-danger lab-invalid" *ngIf="email1 && email1.invalid && email1.touched">Title
                            Id field is
                            not valid</span>

                    </div>
                    <div class="form-group">
                        <label for="pwd1">Type:</label>
                        <table width="100%">
                            <tr>
                                <td width="90%"><input [type]=passwordType class="form-control" id="pwd1" name="pwd1"
                                        formControlName="pwd1">
                                </td>
                                <td width="10%">
                                    <button (click)="showpass()" style="width: 100%;" type="button" class="btn btn-info"
                                        id="show" name="show"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </table>

                        <span class="text-danger lab-invalid" *ngIf="pwd1 && pwd1.invalid && pwd1.touched">Type
                            field is
                            not valid</span>
                    </div>

                    <div class="form-group">
                        <label for="profilePic">Picture:</label>
                        <input type="file" class="form-control" formControlName="profilePic" name="profilePic"
                            id="profilePic" lang="pl-Pl" (change)="uploadFile($event)">
                        <br>
                        <span class="text-danger lab-invalid"
                            *ngIf="profilePic && profilePic.invalid && profilePic.touched">This
                            field is
                            not valid</span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"
                            [disabled]="form2.invalid">Submit</button>
                    </div>

                </form>

                <br>

                <div *ngIf="search_status=='200'; then viewtable">
                </div>
                <ng-template #viewtable>
                    <h2>Edit Gallery</h2>
                    <form [formGroup]="updateform" (ngSubmit)="userupdate()">
                        <table class="table" border="1">
                            <tr>
                                <td align="center">Photo</td>
                                <td align="center">
                                    <a href="http://127.0.0.1:8000/newdemo/uploadFiles/{{photo}}" target="_blank">
                                        <img src="http://127.0.0.1:8000/newdemo/uploadFiles/{{photo}}"
                                            style="width: 90px; height:90px">
                                    </a>
                                    <input type="file" class="custom-file-input" formControlName="profilePicnew"
                                        name="profilePicnew" id="profilePicnew" lang="pl-Pl"
                                        (change)="uploadFilenew($event)">

                                </td>
                            </tr>
                            <tr>
                                <td align="center">Id</td>
                                <td align="center">
                                    <input type="hidden" id="oldfile" name="oldfile" formControlName="oldfile">
                                    <input type="text" class="form-control" readonly id="updateid" name="updateid"
                                        formControlName="updateid">
                                    <span class="text-danger lab-invalid"
                                        *ngIf="updateid && updateid.invalid && updateid.touched">
                                        Id
                                        field
                                        is
                                        not valid</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">Title</td>
                                <td align="center">
                                    <input type="text" class="form-control" id="emailnew" name="emailnew"
                                        formControlName="emailnew">
                                    <span class="text-danger lab-invalid"
                                        *ngIf="emailnew && emailnew.invalid && emailnew.touched">Title
                                        Id
                                        field
                                        is
                                        not valid</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">Type</td>
                                <td align="center">
                                    <input type="text" class="form-control" id="updatetype" name="updatetype"
                                        formControlName="updatetype">
                                    <span class="text-danger lab-invalid"
                                        *ngIf="updatetype && updatetype.invalid && updatetype.touched">
                                        Type
                                        field
                                        is
                                        not valid</span>
                                </td>
                            </tr>

                            <tr>
                                <td align="center">Created Date</td>
                                <td align="center">{{currentdate}}</td>
                            </tr>
                            <tr>
                                <td><button type="submit" class="btn btn-success"
                                        style="cursor: pointer;width:100%;background-color: #40b110;"
                                        [disabled]="updateform.invalid">Update</button>
                                <td><button type="button" class="btn btn-danger"
                                        style="width:100%;background-color: #dc3545;" (click)="deleteis(userid)"><i
                                            class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </ng-template>

            </div>
            <div class="col-md-4">
                <app-user-details></app-user-details>
                <br>
                <form #usersearch="ngForm" class="form-control" (ngSubmit)="searchuser(usersearch)">
                    <label for="">
                        <h3>Search Galley</h3>
                    </label>
                    <div class="form-group">
                        <select class="form-control" aria-label="Default select example" id="userid" name="userid"
                            ngModel>
                            <option value="">Select User</option>
                            <option value="{{user.id}}" *ngFor="let user of alldata">{{user.email}}</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">GET</button>
                    </div>
                </form>
            </div>
        </div>



        <br>
        <div *ngIf="datatime; then viewloader else viewdatatbl">
        </div>
        <ng-template #viewloader>
            <div class="text-center">
                <img src="assets/images/loader.gif" style="width: 45px; height:45px;" alt="">
            </div>
        </ng-template>
        <ng-template #viewdatatbl>
        </ng-template>
        <table class="table table-striped table-dark" width="100%">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Photo</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody style="border-top:0px;">
                <tr
                    *ngFor="let item of tbldata | paginate: { itemsPerPage: 5, currentPage: page, totalItems: total }; let i=index;">
                    <td>{{item.slno}}</td>
                    <td>{{ item.id }}</td>
                    <td>
                        <textarea style="width: 150px; overflow-x:scroll;">
                                {{ item.email }}
                            </textarea>
                    </td>
                    <td>
                        {{ item.password }}
                    </td>
                    <td><img src="http://127.0.0.1:8000/newdemo/uploadFiles/{{ item.photo }}"
                            style="width: 45px; height:45px"></td>
                    <td>{{ item.currentdate | date:'fullDate' }}</td>
                    <td>
                        <button type="button" class="btnnew btn btn-primary" (click)="openPopup(item)">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnnew btn btn-danger" (click)="deleteis(item.id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnnew btn btn-warning" (click)="useredit(item)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot style="background-color: white;">
                <tr>
                    <td colspan="7" align="center">
                        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>


<div class="modal" aria-labelledby="exampleModalLabel" aria-hidden="true" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Detail</h4>
            </div>
            <div class="modal-body">
                <table width="100%">
                    <tr>
                        <td>User Id: </td>
                        <td>{{ modal_userid }}</td>
                    </tr>
                    <tr>
                        <td>Email Id: </td>
                        <td>{{ modal_email }}</td>
                    </tr>
                    <tr>
                        <td>Photo: </td>
                        <td><img src="http://127.0.0.1:8000/newdemo/uploadFiles/{{ modal_photo }}"
                                style="width: 45px; height:45px"></td>
                    </tr>
                    <tr>
                        <td>Created Date: </td>
                        <td>{{ modal_date | date:'fullDate' }}</td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>