<p>{{ wsdata | json }}</p>
<div class="container">
    <h3 class=" text-center">Hello, {{ loggedinuserdata.name }}</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <!-- active_chat -->
                    <ng-container *ngFor="let user of userlist; let i=index;">
                        <!-- *ngIf="user.id!==loggedinuserdata.id" -->
                        <div class="chat_list">
                            <div class="chat_people p-1" id="chat_people{{ user.id }}"
                                (click)="setcurrentChatandStart(user)">
                                <div class="chat_img">
                                    <i class="fa fa-circle activeuser" alt="Online" title="Online"
                                        id="activeuser_{{ user.id }}" aria-hidden="true"></i>
                                    <i class="fa fa-circle deactivateuser" alt="Offline" title="Offline"
                                        id="deactivateuser_{{ user.id }}" aria-hidden="true"></i>
                                    <img src="{{ envdata.filepath }}uploadFiles/{{ user.photo }}" alt="sunil">
                                </div>
                                <div class="chat_ib">
                                    <h5>{{ user.name }}
                                        <span class="chat_date" id="chat_date_{{ user.id }}"></span>
                                    </h5>
                                    <div id="unsceendiv_{{ user.id }}" [innerHTML]="getUnreadchat(user)">
                                        <!-- <p id="unsceenp_{{ user.id }}"> </p>
                                        <span id="unsceenspan_{{ user.id }}" style="width: 60px;"
                                            class="btn btn-danger btn-sm"></span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="mesgs">

                <div class="chat-header clearfix">
                    <img [src]="currentChatuser.photo?envdata.filepath+'uploadFiles/'+currentChatuser.photo:'/assets/images/profile.png'"
                        alt="avatar" class='chat-avatar' />
                    <div class="chat-about">
                        <div class="chat-with">{{ currentChatuser.name!==''?currentChatuser.name:'' }}</div>
                        <div class="chat-num-messages">{{ totalchatofcurrentuser!==''?'Total '+totalchatofcurrentuser+'
                            message':'' }}</div>
                    </div>
                    <i class="fa fa-star"></i>
                </div>

                <div class="msg_history" id="msg_history" style=" margin-top: 5px; margin-bottom:5px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <button *ngIf="showMorebtn" type="button"
                                            class="btn btn-success btn-sm text-center" style=" margin: 5px; "
                                            (click)="loadMoreChat()" title="Load More.." [disabled]="showMorebtndisable"
                                            [innerHTML]="showmoretext"></button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button *ngIf="godownbtn" type="button" class="btn btn-info btn-sm text-center"
                                            style=" margin: 5px; " (click)="godown()" title="Go Down"><i
                                                class="fa fa-arrow-down" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4"></div>
                        </div>

                    </div>
                    <ng-container *ngFor="let chat of chatofcurrentuser;">
                        <ng-container *ngIf="chat.from_!==loggedinuserdata.id; else outgoing">
                            <div class="incoming_msg">
                                <div class="incoming_msg_img">
                                    <img [src]="currentChatuser.photo?envdata.filepath+'uploadFiles/'+currentChatuser.photo:'/assets/images/profile.png'"
                                        alt="{{ currentChatuser.name!==''?currentChatuser.name:'' }}">
                                </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>{{ chat.message }}</p>
                                        <span class="time_date">{{ chat.created_date | date: 'dd/MM/yyyy h:mm a'
                                            }}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #outgoing>
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>{{ chat.message }}</p>
                                    <span class="time_date">{{ chat.created_date | date: 'dd/MM/yyyy h:mm a' }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="chatmessage"
                            id="chatmessage" />
                        <button class="msg_send_btn" type="button" (click)="SendChat()">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>