<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <a class="navbar-brand" [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"
            style="font-size: x-large;"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/aboutus">About Me</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" routerLink="/gallery">Gallery</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/contactus">Contact Us</a>
            </li>


            <li class="nav-item dropdown" *ngIf="dashboardmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu cczd" style="background: #319dca;" aria-labelledby="navbarDropdown">
                    <div class="inulli">
                        <a class="dropdown-item" [routerLink]="['/user/home']">Dashboard <i class="fa fa-tachometer"
                                aria-hidden="true"></i> </a>
                    </div>
                    <div class="inulli">
                        <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Logout <i
                                class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </div>
                </div>
            </li>
            <div [ngSwitch]="headerCheck" *ngIf="loginmenu">
                <div style="color: rgb(252, 6, 6);" *ngSwitchCase="'/signin'">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu cczd" style="background: #319dca;" aria-labelledby="navbarDropdown">
                            <div class="inulli">
                                <a class="dropdown-item" [routerLink]="['/signin']">Admin Sing In<i
                                        class="fa fa-sign-in" aria-hidden="true"></i></a>
                            </div>
                            <div class="inulli">
                                <a class="dropdown-item" [routerLink]="['/signup']">Admin Sing Up<i
                                        class="fa fa-user-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </li>
                </div>
                <div style="color: rgb(14, 230, 14);" *ngSwitchCase="'/signup'">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu cczd" style="background: #319dca;" aria-labelledby="navbarDropdown">
                            <div class="inulli">
                                <a class="dropdown-item" [routerLink]="['/signin']">Admin Sing In<i
                                        class="fa fa-sign-in" aria-hidden="true"></i></a>
                            </div>
                            <div class="inulli">
                                <a class="dropdown-item" [routerLink]="['/signup']">Admin Sing Up<i
                                        class="fa fa-user-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </li>
                </div>
                <div *ngSwitchDefault>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu cczd" style="background: #319dca;" aria-labelledby="navbarDropdown">
                            <div class="inulli">
                                <a class="dropdown-item" [routerLink]="['/signin']">Admin Sing In<i
                                        class="fa fa-sign-in" aria-hidden="true"></i></a>
                            </div>
                            <div class="inulli">
                                <a class="dropdown-item" [routerLink]="['/signup']">Admin Sing Up<i
                                        class="fa fa-user-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/sociallogin">Social Login</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/myblog">Blog</a>
            </li> -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/blog">Blog</a>
            </li>
        </ul>
        <app-header-search-box [stype]='searchtype'></app-header-search-box>
    </div>
</nav>