<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
        </div>
        <div class="col-lg-6">
          <form action="#">
            <input type="email" required name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['']">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/aboutus']">About Me</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/contactus']">Contact</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/gallery']">Gallery</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/signin']">Sing In</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/signup']">Sing Up</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/aboutus']">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/aboutus']">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/aboutus']">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/aboutus']">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/aboutus']">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Jaydev Vihar, Bhubaneswar<br>
            Odisha-751013<br>
            <strong>Phone:</strong> +91 7735501335<br>
            <strong>Email:</strong> bidyut.mandal@fit2live.in<br>
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Location</h3>
          <div><iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14967.998821278126!2d85.80630377938604!3d20.300279332358254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909c55970eb61%3A0x81f12808cc25b847!2sJayadev%20Vihar%2C%20Bhubaneswar%2C%20Odisha!5e0!3m2!1sen!2sin!4v1645454922846!5m2!1sen!2sin"
              width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
          <div class="social-links mt-3">
            <a href="https://twitter.com/codingstudio_38" _target="blank" class="twitter"><i
                class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/codingstudio.38" _target="blank" class="facebook"><i
                class="bx bxl-facebook"></i></a>
            <!-- <a href="https://www.instagram.com/mr.mastervk/" _target="blank" class="instagram"><i
                class="bx bxl-instagram"></i></a> -->
            <a href="https://www.youtube.com/channel/UCUVnAeKnOicuCmEe4nqcOBg" _target="blank" class="google-plus"><i
                class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/bidyut38/" target="_blank" class="linkedin"><i
                class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>2022</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.linkedin.com/in/mrmastervk/">Bidyut Kumar</a>
    </div>
  </div>
</footer><!-- End Footer -->
<div *ngIf="hideis" id="preloader"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>