<div class="container">


    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Form Validation</h4>
            <img src="" id="renderimg" class="mb-4" alt="">
            <form [formGroup]="myform" (ngSubmit)="check()">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-file-image-o" aria-hidden="true"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Full name" type="file" formControlName="photo"
                        (change)="uploadFile($event)">
                    <span class="lab-invalid"
                        *ngIf="myform.controls['photo'].touched && myform.hasError('invalid','photo')">{{
                        myform.getError('message','photo') }}</span>

                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Full name" type="text" formControlName="name">
                    <span class="lab-invalid"
                        *ngIf="myform.controls['name'].touched && myform.hasError('invalid','name')">{{
                        myform.getError('message','name') }}</span>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Email address" type="email"
                        formControlName="emailid">
                    <span class="lab-invalid"
                        *ngIf="myform.controls['emailid'].touched && myform.hasError('invalid','emailid')">{{
                        myform.getError('message','emailid') }}</span>

                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select class="custom-select" style="max-width: 100px;" formControlName="p_code">
                        <option [selected]="true" value="">+00</option>
                        <option value="91">+91</option>
                    </select>
                    <input name="" class="form-control" placeholder="Phone number" type="text"
                        formControlName="phoneno">

                    <span class="lab-invalid"
                        *ngIf="myform.controls['phoneno'].touched && myform.hasError('invalid','phoneno')">{{
                        myform.getError('message','phoneno') }}</span>

                    <span class="lab-invalid"
                        *ngIf="myform.controls['p_code'].touched && myform.hasError('invalid','p_code')">{{
                        myform.getError('message','p_code') }}</span>


                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Create password" type="password"
                        formControlName="password">
                    <span class="lab-invalid"
                        *ngIf="myform.controls['password'].touched && myform.hasError('invalid','password')">{{
                        myform.getError('message','password') }}</span>
                </div>
                <div class="form-group input-group">
                    <label for="">Gender- </label>
                    <div class="form-check m-1">
                        <input class="form-check-input" type="radio" value="M" name="gender" id="flexRadioDefault1"
                            formControlName="gender">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Male
                        </label>
                    </div>
                    <div class="form-check m-1">
                        <input class="form-check-input" type="radio" value="F" name="gender" id="flexRadioDefault2"
                            formControlName="gender">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Female
                        </label>
                    </div>
                    <span class="lab-invalid"
                        *ngIf="myform.controls['gender'].touched && myform.hasError('invalid','gender')">{{
                        myform.getError('message','gender') }}</span>
                </div>
                <div class="form-group input-group">
                    <label for="">Hobbies- </label>
                    <div class="form-check m-1" *ngFor="let item of hobbies_list">
                        <input class="form-check-input" type="checkbox" [value]=item.name name="hobbies[]"
                            id="hobbies{{ item.id }}" (change)="saveItem($event,item.id)">
                        <label class="form-check-label">
                            {{ item.name }}
                        </label>
                    </div>
                    <span class="lab-invalid"
                        *ngIf="myform.controls['hobbies'].touched && myform.hasError('invalid','hobbies')">{{
                        myform.getError('message','hobbies') }}</span>
                </div>
                <span class="lab-invalid"
                    *ngIf="myform.controls['hobbies'].touched && myform.hasError('invalid','hobbies')">{{
                    myform.getError('message','hobbies') }}</span>
                <div class="form-group">
                    <!-- [disabled]="myform.invalid" -->
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="myform.invalid"> Create
                        Account </button>
                    <button (click)="getLocation()" type="button" class="btn btn-warning btn-sm">Get Location</button>
                </div>
                <p class="text-center">Have an account? <a href="">Log In</a> </p>
            </form>
        </article>
    </div>

</div>


<!-- <a href="https://www.latlong.net/c/?lat=0.000000&long=0.000000" target="_blank">(0.000000, 0.000000)</a> -->

<div class="modal fade" id="cropmodal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Upload Your Photo
                </h5>
                <button type="button" class="btn btn-danger btn-sm" (click)="Closemodal()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img id="cropimage" src="https://avatars0.githubusercontent.com/u/3456749">
                        </div>
                        <div class="col-md-4">
                            <div class="crop-preview"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="Closemodal()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="CropMyImage()">Crop</button>

            </div>
        </div>
    </div>
</div>